body{ background-color: skyblue;
      color : rgb(69, 6, 128);
      padding:50px;
      }
 #h2{ color:black;
       }   
 #div{ background-color: white;
      padding: 3%;
    width: 300px;}  